<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Spring Security Example</title>
  <link rel="stylesheet" href="./styles/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body class="bg-body">
  <div class="basket-list">
<!--    <div class="basket-row">-->
<!--        <img src="images/dice.png" alt="Картинка">-->
<!--        <h5 class="text">Кубики</h5>-->
<!--        <h5 class="text">300 bucks</h5>-->
<!--    </div>-->
    <div class="basket-row" th:each="product : ${products}">
        <img th:src="'data:image/jpeg;base64,' + ${product.image}" class="basket-img" alt="Изображение">
        <h5 class="basket-text" th:text="${product.name}"></h5>
        <form class="basket-form" th:action="@{/deleteProduct}" th:method="post">
            <button type="submit" th:value="${product.name}" id="productName" name="productName">Х</button>
        </form>
        <h5 class="text" th:text="${product.price} + 'р.'"></h5>
    </div>
    <h5 class="basket-field" th:text="'Количество товаров: ' + ${count}"></h5>
      <h5 class="basket-field" th:text="'Общая стоимость: ' + ${totalCost}"></h5>
    <div class="buttons-panel">
      <form th:action="@{/orderMenu}" method="get">
        <button type="submit">Заказать</button>
      </form>
      <form th:action="@{/home}" method="get">
        <button type="submit">Назад</button>
      </form>
    </div>
  </div>
</body>
</html>