<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Восстановление пароля</title>
  <link rel="stylesheet" href="./styles/style.css" />
  <meta charset="UTF-8" />
</head>
<body>
<div class="input-form">
  <div>
    <h3>Восстановление пароля</h3>
  </div>
  <form th:action="@{/login}" method="get">
    <div class="input-string">
      <div for="inputName">Имя</div>
      <input type="text" class="form-control" id="inputName" th:field="*{name}">
      <div th:text="${usernameError}"></div>
    </div>
    <div class="input-string">
      <div for="inputPassword">Пароль</div>
      <input type="password" class="form-control" id="inputPassword" th:field="*{password}">
    </div>
    <div>
      <button type="submit">Отправить</button>
    </div>
  </form>
  <form th:action="@{/login}" method="get">
    <button type="submit">Назад</button>
  </form>
</div>

</body>
</html>